html,
body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
    background-color: #424242;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #424242;
}

a:active {
    transform: translateY(1px);
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../font/BebasNeue.otf");
}

h1 {
    margin: 0;
    color: #0070c0;
    padding-bottom: 10px;
}


/* Box Shadow :
box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
*/

main {
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    padding: 40px;
    padding-top: 10px;
    background-color: white;
    box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
}



/** #homeBtn **/

#homeBtn {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
}
#homeBtn>a:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}


/** Formulaire **/

form {
    margin-bottom: 60px;
}

fieldset {
    border: 2px solid #0070c0;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.8);
}

legend {
    font-weight: bold;
    font-size: 19px;
}

label {
    display: inline-block;
    width: 80px;
    vertical-align: top;
}

fieldset:nth-child(3) label {
    display: block;
    width: 100%;
}

input,
textarea {
    border: 1px solid #0070c0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

input {
    width: 25%;
}

textarea {
    width: 50%;
}

[type="submit"] {
    padding: 10px 20px;
    width: auto;
    background-color: #0070c0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
[type="submit"]:hover{
    opacity: 0.8;
}