html, body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
}

body, :not(p)>a,img {
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


a {
    color: inherit;
    text-decoration: none;
}
p a {
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: #424242;
}
a:active {
    transform: translateY(1px);
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../font/BebasNeue.otf");
}

/* Box Shadow :
box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
*/

/* Main & section */
main {
    height: 100vh;
    min-width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    background: #0070c0;
    background: -moz-linear-gradient(top,  #0070c0 1%, #77eae8 44%, #fff4d3 67%, #fca800 100%);
    background: -webkit-linear-gradient(top,  #0070c0 1%,#77eae8 44%,#fff4d3 67%,#fca800 100%);
    background: linear-gradient(to bottom,  #0070c0 1%,#77eae8 44%,#fff4d3 67%,#fca800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0070c0', endColorstr='#fca800',GradientType=0 );
}

main>section{
    position: relative;
    display: inline-block;
    padding: 4vw;
    height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
}

.border {
    position: relative;
    padding: 4vw;
    box-sizing: border-box;
    height: calc(100vh - 8vw);
    width: 100%;
    border: 10px solid white;
    /*box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px, inset #bababa -1px 1px, inset #bababa -2px 2px, inset #bababa -3px 3px, inset #bababa -4px 4px, inset #bababa -5px 5px;*/
}
@media screen and (max-width: 550px) {
    .border {
        padding: 8vw;
        border-width: 7px;
    }
}

/* Welcome */
#welcome {
    background-color: #424242;
    mix-blend-mode: darken;
    color: white;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#welcome .border {
    padding: 0;
    background-color: #424242;
}

#welcome img {
    height: 100%;
    width: 100%;
}
#welcome a {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
}

/* panels */
#panels {
    min-width: 100vw;
}
#panels .border{
    padding-bottom: 0;
    overflow-x: auto;
}

#panels>div>ul>h1 {
    margin: 0;
    margin-bottom: 2vw;
}
#logo {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: white;
    box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
}
#logo img {
    height: 5vw;
    opacity: 0;
}
#vrBadge {
    position: absolute;
    top: -8px;
    right: -18px;
    padding: 5px 10px;
    padding-left: 12px;
    font-size: 15px;
    line-height: 20px;
    background: #424242;
    color: white;
    border-radius: 20px;
    box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px;
}
#vrBadge i {
    font-size: 0.9em;
}
#vrBadge:hover {
    text-decoration: none;
    background: black;
}

#panels>div>ul {
    padding: 0;
    list-style: none;
    white-space: normal;
}
#panels>div>ul>li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 2.5vw;
}
#panels>div>ul>li>a {
    position: relative;
    display: block;
    height: 100%;
    padding-left: 2vw;
    padding-right: 1vw;
    text-decoration: none;
}
#panels>div>ul>li>a::before, #panels>div>ul>li>a::after {
    content: "";
    position: absolute;
    display: block;
    top: 30px;
    bottom: -10px;
    left: 0;
    right: 0;
        
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#panels li>a::after {
    background-color: rgba(0,0,0,0);
}
#panels li>a::before{
    background-color: white;
    box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
}
#panels ul:not(#contentframe) li:hover a::before {
    top: 20px;
    bottom: 0px;
}
#panels li>a>h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    color: #424242;
    text-shadow: -5px 5px 5px rgba(66, 66, 66, 0.15);
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#panels ul:not(#contentframe) li:hover h2 {
    text-shadow: -3px 3px 5px rgba(66, 66, 66, 0.15);
}
#panels li a p {
    position: relative;
    display: inline-block;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    #logo {
        margin-bottom: 20px;
    }
    #logo img {
        height: 10vw;
    }
    #panels {
        overflow: visible;
    }
    #panels li {
        min-width: calc(50% - 30px - 3px);
        margin-bottom: 30px;
    }
    #panels li a {
        padding-left: 3vw;
    }
    #panels li p {
        display: none!important;
    }
    #panels li a::before, #panels li a::after {
        top: 30px;
        bottom: 0px;
    }
    #panels ul:not(#contentframe) li:hover a::before {
        bottom: 10px;
    }
}
@media screen and (max-width: 550px) {
    #logo {
        margin: 0;
    }
    #logo img {
        height: 15vw;
    }
    #panels li {
        min-width: 0;
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
    }
}


#panels ul>li>*:not(a){
    position: absolute;
    top: 4vw;
    margin: 2vw;
    cursor: text;
    
    display: none;
    opacity: 0;
    transform: translateY(80px);
    
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


#panels #contentframe {
    user-select: initial;
    -moz-user-select: initial;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    overflow: hidden;
}
#panels #contentframe nav {
    position: absolute;
    top: 2vw;
    right: 10px;
    margin: 0;
    transform: none;
}
#panels #contentframe .fa {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
#panels #contentframe .fa:hover {
    opacity: 0.6!important;
}
#panels #contentframe i:active {
    transform: translateY(1px)!important;
}
#panels #contentframe>li>a:active {
    transform: none;
}

#panels #contentframe div {
    position: absolute;
    top: 5vw;
    bottom: -10px;
    right: 0;
    left: 0;
    margin: 0;
    border-top: 5px solid rgba(0,0,0,0.05);
}

#panels #contentframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background-image:url("../img/loading.gif");
    background-position:  center;
    background-repeat: no-repeat;
}

#panels #contentframe div>p, #panels #contentframe div>h3 {
    margin-left: 2vw;
    margin-right: 2vw;
}


/** OTHER **/

/* .extLinks */
ul.extLinks>li>a::after{
    content: attr(href);
    padding-left: 5px;
    font-size: 12px;
    opacity: 0.5;
}