html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

body,
:not(p) > a,
img {
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


a {
    color: inherit;
    text-decoration: none;
}

p a {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #424242;
}

a:active {
    transform: translateY(1px);
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../font/BebasNeue.otf");
}

/* Box Shadow :
box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
*/

/* Main & section */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background: #0070c0;
    background: -moz-linear-gradient(top, #0070c0 1%, #77eae8 44%, #fff4d3 67%, #fca800 100%);
    background: -webkit-linear-gradient(top, #0070c0 1%, #77eae8 44%, #fff4d3 67%, #fca800 100%);
    background: linear-gradient(to bottom, #0070c0 1%, #77eae8 44%, #fff4d3 67%, #fca800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0070c0', endColorstr='#fca800', GradientType=0);
}

main > section {
    display: inline-block;
    position: relative;
    padding: 2vh 4vw;
    min-height: 100vh;
    box-sizing: border-box;
    white-space: nowrap;
    vertical-align: top;
}

/* Logo */
#logo {
    background-color: white;
    width: 20vw;
    mix-blend-mode: lighten;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-top: 20px double black;
    border-right: 20px double black;
    border-bottom: 20px double black;
}

#logo h1 {
    height: 100%;
    position: relative;
    text-align: center;
}

#logo img {
    width: 10vw;
}

/* content */
#content {
    width: 70vw;
    background-color: #424242;
    mix-blend-mode: darken;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    border-top: 20px double white;
    border-left: 20px double white;
    border-bottom: 20px double white;
    overflow-x: auto;
}

#content > ul {
    padding: 0;
    list-style: none;
    white-space: normal;
}

#content > ul > li {
    margin-bottom: 2vh;
}

#content > ul > li > a {
    position: relative;
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    border-bottom: 5px solid rgba(0,0,0,0);
}
#content > ul > li > a:hover {
    border-bottom: 5px solid white;
}

#content li > a > h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    color: white;
    text-shadow: -5px 5px 5px rgba(66, 66, 66, 0.15);
}
#content li > a > h2 > i {
    position: absolute;
    right: -25px;
    top: 20px;
    font-size: 20px;
}

#content li a p {
    position: relative;
    display: inline-block;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    #logo {
        width: 25vw;
    }
    #content {
        width: 75vw;
    }

    #content > ul > li {
        min-width: calc(50% - 30px - 3px);
        margin-bottom: 30px;
    }

    #content > ul > li > a {
        padding-left: 3vw;
    }

    #content > ul > li > a > p {
        display: none !important;
    }

    #content > ul > li > a::before,
    #content > ul > li > a::after {
        top: 30px;
        bottom: 0px;
    }

    #content ul li:hover a::before {
        bottom: 10px;
    }
}

@media screen and (max-width: 550px) {
    #content > ul > li {
        min-width: 0;
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
    }
}


#content ul > li > *:not(a) {
    position: absolute;
    top: 4vw;
    margin: 2vw;
    cursor: text;

    display: none;
    opacity: 0;
    transform: translateY(80px);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


/** OTHER **/

/* .extLinks */
ul.extLinks > li > a::after {
    content: attr(href);
    padding-left: 5px;
    font-size: 12px;
    opacity: 0.5;
}