body {
}

#inload {
    position: relative;
}

#header {
    position: relative!important;
    height: 70vh!important;
}

.panel {
    background-color: #F0F0F0!important;
}

footer {
    display: none;
}

#toptime {
    display: none;
}

#top, #bottom {
    min-height: 10vh;
    margin: 1vh 10vw;
    box-shadow: #bababa -1px 1px, #bababa -2px 2px, #bababa -3px 3px, #bababa -4px 4px, #bababa -5px 5px;
    z-index: 70;
}
#top {
    width: 80vw!important;
    background: none;
    mix-blend-mode: lighten;
    background-color: white;
}
#bottom {
    position: relative;
    width: 70vw;
    padding: 10vh;
    overflow: hidden;
    background-color: #F0F0F0;
}
#bottom>* {
    position: relative;
    top: 0px;
}

#topmenuicon {
    font-size: 7vh;
    margin: 1.5vh 3vh;
    color: black;
}
#topmenu {
    top: 11vh;
}
#top>h1 {
    color: black;    
}


#hashtags>span {
    margin: 5px;
    padding: 2px 10px;
    color: #F0F0F0;
    background-color: #0070c0;
    border-radius: 20px;
}
#hashtags>span:hover {
    color: white;
}
#hashtags>span::before {
    content: "#";
}


#portfolio{
    margin: 5vh 0;
}
#portfolio>a {
    position: relative;
    display: inline-block;
    width: 15vw;
    margin-right: 10px;
    overflow: hidden;
    color: black;
    text-decoration: none;
}
#portfolio>a>img{
    width: 100%;
}
#portfolio>a>span{
}
#portfolio>a>span>h4{
    padding: 0 5px;
    height: 100px;
    width: 100%;
    color: black;
    background-color: white;
    mix-blend-mode: lighten;
    white-space: nowrap;
}
#portfolio>a>span>p {
    margin: 0;
    padding: 0 5px;
}
#portfolio>a>span>*{
    position: absolute;
    bottom: -44px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#portfolio>a:hover>span>*{
    bottom: 0px;
}
#portfolio>a:hover{
    cursor: pointer
}