@font-face {
    font-family: 'Starjedi';
    src: url('../resrc/font/Starjedi.ttf') format('truetype');
}

.panel {
  border: 2px solid #F7F714;
  box-shadow: none!important;
  background: none!important;
  filter: grayscale(0%)!important;
  -webkit-filter: grayscale(0%)!important;
  -moz-filter: grayscale(0%)!important;
  -ms-filter: grayscale(0%)!important;
  -o-filter: grayscale(0%)!important;
}

.panel *, body .CWeb i {
  color: #F7F714!important;
}

.panel:hover {
  background-color: #F7F714!important;
  color: black!important;
}
.panel:hover * {
  color: black!important;
}

#inload {
  background-image: url("resrc/img/nightpattern.png")!important;
  background-color: black;
}

.rowtitle {
  font-family: 'Starjedi', Calibri, Arial, serif;
  color: #F7F714!important;
      font-size: 32px!important;
}

#panelsheader {
  transform-origin: 50% 100%;
	transform: perspective(250px) rotateX(10deg) scale(1.3);
}