
#panelsheader {
    transform-origin: 50% 50%!important;
    /*transform: perspective(128px) rotateX(1deg) rotateY(-3deg) translateX(-146px) scale(0.9)!important;
    padding: 0!important;*/
    transform: perspective(245px) rotateX(-1deg) rotateY(-3deg) translateX(-146px) scale(1)!important;
}

.panel {
    transition: all 0.1s ease-in-out!important;
    background: none!important;
    background-color: rgba(0,0,0,0.1)!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.panel:hover {
    transform: scale(1.01);
    z-index: 99;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.panel>i:first-of-type {
    color: white;
}

.panel:hover .flatsh {
    opacity: 0.1!important;
}
.panel p {
    color: white!important;
}

#top {
    background-color: rgba(0,0,0,0);
}

#toptime {
    display: none;
}

#header {
    height: 90vh!important;
}

footer {
    display: none;
}