/*
Theme Name: Perso
Theme URI: 
Description: 
Version: 1.0
Author: David Libeau
Author URI: 
Tags:

*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
var {
    font-style: normal;
    font-weight: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

body,
button,
input,
select,
textarea {
    color: #333;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 16px;
    background-color: #F2F2F2;
}

/* Balises block */
.post-content h1 {}

.post-content h2 {}

.post-content h3 {}

.post-content h4 {}

.post-content h5 {}

.post-content h6 {}

.post-content p {}

.post-content ul {}

.post-content ol {}

.post-content blockquote {}

.post-content pre {}

.post-content address {}

.post-content address {}

/* Balises inline */
.post-content strong {}

.post-content em {}

.post-content acronym {}

.post-content code {}

.post-content del {}

.post-content ins {}

/* Classes des images */
.alignleft {
    display: inline;
    float: left;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    display: inline;
    float: right;
}

.size-auto {}

.size-medium {}

.size-large {}

.size-full {}

.wp-caption {}

.wp-caption img {}

.gallery {}

.gallery .gallery-item {}

a {
    text-decoration: none;
    color: #808080;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-height: 500px) {
    footer {
        display: none;
    }

    body {
        background: none;
    }
}

.content {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 950px) {
    .content {
        width: 80% !important;
    }
}

@media screen and (max-width: 780px) {
    .content {
        width: 100% !important;
    }

    .circle {
        display: none;
    }

    li.post,
    li.comment.depth-1,
    #respond,
    .post-author {
        margin-left: 15px !important;
    }

    li.post,
    li.comment,
    #respond,
    .post-author {
        margin-right: 15px !important;
    }

    .comment-author > img {
        display: none;
    }
}

header {
    margin: 20px 10px;
    margin-bottom: 30px;
}


header h1 {
    font-size: 30px;
    font-weight: bold;
}

#nav-links,
.main > a {
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    margin: 20px;
    margin-bottom: 50px;
}

#nav-links {
    min-height: 20px;
}

#nav-links > :first-child {
    float: left;
}

#nav-links > :last-child {
    float: right;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: #868686;
    font-weight: bold;
    opacity: 0.5
}

footer * {
    color: #868686;
    font-weight: bold;
}


/******* LOOP *******/

ul.post {}

li.post,
li.comment,
li.pingback,
#respond {
    position: relative;
    display: block;
    list-style: none;
    background-color: white;
    border-radius: 10px;
}

li.post {
    margin-left: 80px;
    margin-bottom: 15px;
}

.single-post li.post,
li.comment,
li.pingback,
#respond {
    padding: 15px 0;
}

li.comment,
li.pingback,
#respond {
    padding: 20px;
}

#reply-title {
    margin: 0;
}

/* Loop posts */
li.post {
    padding: 20px;
}

h3.post-title {
    margin: 0 !important;
    margin-bottom: 10px !important;
}

h3.post-title a {
    color: black;
}

.post-info {
    font-size: 16px;
    margin-top: 10px;
}

.circle {
    position: absolute;
    left: -54px;
    top: 13px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #0070c0;
}

ul.post > li:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 10px solid white;
    border-bottom: 8px solid transparent;
}

ul.post > li > img {
    position: absolute;
    left: -76px;
    top: -3px;
    height: 70px;
}


.post h2 {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    margin: 20px;
}

.post h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: 20px;
}

.post h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin: 20px;
}

h1.post-title {
    font-size: 35px;
    font-weight: bold;
    font-family: serif;
    margin: 10px;
    line-height: 35px;
    text-align: center;
    padding: 0 30px;
}


.post-excerpt {
    margin: 5px 0;
    font-size: 15px;
}

.post-info,
.post-info * {
    font-style: italic;
    color: #808080;
    margin-bottom: -5px;
}

.post-content {
    overflow: hidden;
}

.post-content p {
    text-indent: 3vw;
}

.post-content p,
.post-content ul,
.post-content ol,
.nocomments,
.main > h1,
.side {
    line-height: 25px;
    font-size: 18px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 13px;
}

.nocomments {
    margin-top: 10px;
    opacity: 0.5;
}

@media screen and (max-width: 780px) {

    .post-content p,
    .post-content ul {
        font-size: 20px !important;
    }
}

@media screen and (orientation:portrait) {

    .post-content p,
    .post-content ul {
        text-align: left;
    }
}

.post-content li {
    margin-left: 20px;
    margin-bottom: 10px;
}

.post-content {
    text-align: justify;
}

.post-content img {
    max-width: 100%;
    height: auto;
}


.single-post .post-info,
.post-tags {
    margin: 20px;
    font-size: 18px;
}

.post-info-mini {
    text-align: center;
    margin-bottom: 40px !important;
}

.post-tags {
    text-align: center;
    font-style: italic;
    min-height: 15px;
}

.post-tags a:before {
    content: "#";
    font-style: normal;
}

.wp-block-image {
    margin: 20px 0;
}

figcaption {
    font-size: 15px !important;
    font-style: italic;
    margin: 0 20px;
}

.lang-tag {
    position: relative;
    top: -1px;
    padding: 2px 5px;
    font-size: 0.7em;
    background-color: #dcdcdc;
    border-radius: 5px;
    color: white;
    font-weight: normal;
}

a:hover + .lang-tag {
    background-color: #808080;
}

/******** AUTHOR *********/

.post-author {
    background-color: #0070C0;
    color: white;
    margin: 15px 0;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.post-author > h3 {
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.post-author > p {
    line-height: 25px;
    font-size: 18px;
}

.post-author a {
    color: white;
}

/******** COMMENT ********/

.post-comments {
    margin: 20px 0;
}

li.comment {
    margin-right: 50px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 15px;
    background-color: #dcdcdc;
}

#respond {
    background-color: #dcdcdc;
    margin-bottom: 20px;
}

li.comment p {
    font-size: 15px;
}

li.comment:after,
#respond:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid #dcdcdc;
    border-bottom: 8px solid transparent;
}

.depth-1,
.depth-3 {
    background-color: #dcdcdc !important;
}

.depth-1:after,
.depth-3:after {
    border-left-color: #dcdcdc !important;
}

.depth-2,
.depth-4 {
    background-color: #cecece !important;
}

.depth-2:after,
.depth-4:after {
    border-left-color: #cecece !important;
}

h3#comments {
    display: none;
}

.comment-author {
    display: inline-block;
}

.comment-author > img {
    position: absolute;
    right: -54px;
    top: 14px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.fn {
    font-size: 16px;
    font-weight: bold;
}

.comment-awaiting-moderation {
    display: inline-block;
}

.comment-meta,
.commentmetadata {
    position: absolute;
    right: 0;
    top: 0;
    margin: 11px 12px;
}

.comment-meta *,
.commentmetadata * {
    font-style: italic;
    color: #808080;
    margin-bottom: -5px;
}


.comment-reply-link {
    display: inline-block;
    position: absolute;
    background-color: #363636;
    color: white;
    padding: 7px;
    margin: 10px;
    border: 0;
    border-radius: 5px;
    bottom: 0;
    right: 0;
}

.comment-reply-link:hover {
    text-decoration: none;
    background-color: #444444;
    cursor: pointer;
}

.comment-form p {
  margin-bottom: 10px;
}
.comment-form-comment > label {
    display: block;
}

input[type="text"],
textarea {
    display: block;
    margin: 5px 0;
    border: 2px solid #9a9a9a;
    border-radius: 5px;
    padding: 7px;
}

textarea {
    width: calc(100% - 20px);
}

label,
input,
textarea,
.cptch_title {
    font-size: 16px;
}

button,
[type="submit"] {
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
}

button:hover,
[type="submit"]:hover {
    background-color: white;
}

blockquote,
.bloc,
pre,
code {
    line-height: 20px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #00000024;
    text-indent: 0 !important;
}

.bloc > p {
    font-size: 18px;
    text-indent: 0 !important;
    margin: 0 !important;
}

.bloc > h3 {
    margin: 0 !important;
    margin-bottom: 20px;
}

blockquote {
    font-size: 20px !important;
    text-indent: 3vw;
}

.post-content cite {
    font-size: 0.8em;
}

.post-content cite:before {
    content: "– ";
}

pre,
code {
    font-size: 15px !important;
    overflow-y: auto;
}

.chart {
    padding: 20px;
    margin: 20px;
    border: 1px solid #00000024;
    background-color: #ffffff;
}

.chart > iframe {
    margin: auto;
}

#search-form {
  position: relative;
  border: 2px solid #9a9a9a;
  border-radius: 5px;
  margin-bottom: 20px;
}
#search-form input, #search-form button {
  border: none;
  margin: 0;
}
#search-form input {
  display: block;
  width: calc(100% - 14px);
}
#search-form button {
  position: absolute;
  right: 5px;
  top: 1px;
}


@media (prefers-color-scheme: dark) {

    body,
    button,
    input,
    select,
    textarea {
        background-color: #2e3237;
        color: #efefef;
    }

    li.post,
    li.comment,
    li.pingback,
    #respond {
        background-color: #20232b;
    }

    a,
    .post-info,
    .post-info *,
    .comment-meta *,
    .commentmetadata * {
        color: #c3c3c3;
    }

    ul.post > li::before {
        border-right: 10px solid #20232b;
    }

    li.comment:after,
    #respond:after {
        border-left: 10px solid #20232b;
    }

    h3.post-title a {
        color: white;
    }

    .depth-1,
    .depth-3 {
        background-color: #20232b !important;
    }

    .depth-1:after,
    .depth-3:after {
        border-left-color: #20232b !important;
    }

    .depth-2,
    .depth-4 {
        background-color: #161719 !important;
    }

    .depth-2:after,
    .depth-4:after {
        border-left-color: #161719 !important;
    }

    button:hover,
    [type="submit"]:hover {
        background-color: #161719;
    }

    blockquote,
    .bloc,
    pre,
    code {
        border-color: #ffffff24;
    }
  
    .lang-tag {
        background-color: #747474;
        color: black;
    }
}