body {
    background-image: url(background-moz.jpg);
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Helvetica Neue', HelveticaNeue , Arial, serif; 
    font-size: 18px;
}

.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

img {
    margin: 0;
    padding: 0;
    z-index: 10;
}

.bg {
    background-image: url(background-fix.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    color: white;
    padding: 0;
    margin: 0;
    padding-left: 10%;
    z-index: -1000;
}

.box {
    position: fixed;
    margin: 10px;
    padding: 10px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
}

.pub-bas {
    margin: 0;
    width: 970px;
    height: 90px;
    background-color: grey;
}

.pub-droite {
    margin: 0;
    width: 160px;
    height: 600px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: grey;
    z-index: -100;
}

p {
    max-width: 80%;
}